body {
  font-family: "Montserrat";
}

.jumbotron {
  text-align: center;
  padding-top: 10rem;
  /* padding-bottom: 10rem; */
  text-shadow: 2px 2px #000;
}

.lead {
  color: white;
  font-weight: bold;
}

.bg-cover {
  background-size: cover;
  color: white;
  background-position: bottom right;
  position: relative;
  z-index: -2;
}

.overlay {
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

nav,
nav a {
  color: white;
  font-size: 12px;
}

nav a.active {
  color: #475cfd;
  font-weight: bold;
}

nav a.active:hover {
  color: #475cfd;
}

section {
  padding-top: 5rem;
}

.main p {
  margin-top: 20px;
  color: #212529;
}

.main h2 {
  color: #212529;
  font-weight: bold;
}
.main a {
  background-color: #212529;
  color: white;
  margin-top: 20px;
}

.card-body {
  position: relative;
  overflow: hidden;
}

.bg-img {
  position: absolute;
  bottom: -52px;
  right: -60px;
  width: 45%;
}

section #send {
  background-color: #212529;
  color: white;
}
